.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Bloat-Killers (Keep node_modules and images ignored)
node_modules/**

# REMOVE 'LICENSE' FROM HERE! 
# We want the Marketplace to see it.